@model Desafio_ICI_Samuel.Features.Tags.Get.GetTagVm

<h1>Ver Tag</h1>

<dl class="row">
    <dt class="col-sm-3">ID</dt>
    <dd class="col-sm-9">@Model.Id</dd>

    <dt class="col-sm-3">Nome</dt>
    <dd class="col-sm-9">@Model.Name</dd>
</dl>

<div class="d-flex gap-2">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-outline-secondary">Voltar para a lista</a>
</div>
